.idea/
*.iml

.gradle/
*/build/
*/out/
/**/logs/
local-infrastructure/env/docker/.env
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

/local-infrastructure/**/generated/
/local-infrastructure/secrets.properties
/local-infrastructure/app/secrets/

**/.env
