version: '3.7'

services:
  main-service:
    image: ase-practice-perf-stand/main-service:latest
    ports:
      - 8080:8080
      - 5006:5006
    environment:
      management.tracing.enabled: false
      JAVA_TOOL_OPTIONS: >
        -Xss512k
        -XX:MaxRAM=1024m
        -Dcom.sun.management.jmxremote=true
        -Djava.rmi.server.hostname=localhost
        -Dcom.sun.management.jmxremote.local.only=false
        -Dcom.sun.management.jmxremote.port=5006
        -Dcom.sun.management.jmxremote.rmi.port=5006
        -Dcom.sun.management.jmxremote.ssl=false
        -Dcom.sun.management.jmxremote.authenticate=false
        -Djava.net.preferIPv4Stack=true
      spring.application.name: main-service-docker
      logging.file.enabled: false
      client.dataService.host: http://host.docker.internal:8090
      sync.worker.minDelaysMs: "${sync_worker_minDelaysMs}"
      sync.worker.maxDelaysMs: "${sync_worker_maxDelaysMs}"
      async.threads: "${async_threads}"
      async.worker.minDelaysMs: "${async_worker_minDelaysMs}"
      async.worker.maxDelaysMs: "${async_worker_maxDelaysMs}"
      async.task.timeout_ms: "${async_task_timeout_ms}"
    deploy:
      resources:
        limits:
          memory: 1500m

  dependency-service:
    image: ase-practice-perf-stand/dependency-service:latest
    ports:
      - 8090:8080
    environment:
      management.tracing.enabled: false
      JAVA_TOOL_OPTIONS: -Xss512k -XX:MaxRAM=1024m
      spring.application.name: dependency-service-docker
      dataService.minLatency: "${dataService_minLatency}"
      dataService.maxLatency: "${dataService_maxLatency}"
    deploy:
      resources:
        limits:
          memory: 1500m
